

body{
  font-family:Helvetica, sans-serif;
}
 .page-header{
      margin-top: 3rem;
      font-size: 1.25rem;
}

a {
    color: black;
    text-decoration: none;
}
.d-flex{
    margin-bottom: auto;
}
main{
  margin-top: auto;
  font-family:Helvetica, sans-serif;
}

[role="main"] {
  font-family:Helvetica, sans-serif;
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}
