@import "navbar-fixed";

.gradient{
  background: rgb(6,190,182);
  background: linear-gradient(180deg, rgba(6,190,182,1) 0%, rgba(72,177,191,0.5830707282913166) 100%);
}
 .page-header{
      margin-top: 3rem;
      font-size: 1.25rem;
}

a {
    color: black;
    text-decoration: none;
}
.d-flex{
    margin-bottom: auto;
}
main{
  margin-top: auto;
}

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}
.sidebar-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.sidebar-section {
  position: absolute;
  height: 100%;
  width: 100%;
}
.make-me-sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
    
  padding: 0 15px;
}